$fontsize:14px;
$color:red;
$position-center:center;
.logo{color:black;margin-top: 50px;text-align: center}
.list{
  line-height: 2;
  li {border-bottom: 1px solid #ddd;
    font-size: 14px;
  }
}
.mint-navbar{
  margin-top: 40px;
}
